.card {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  height: 350px;
  width: 300px;

  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  background-color: white;
  border-radius: 40px;

  margin-top: 10%;
  margin-bottom: 20%;
  font-size: 25px;

  position: relative;
  transition: 0.4s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
}

.flip {
  perspective: 1100px;
}

.card-front,
.card-back {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.card-front {
  /* background: red; */
}

.card-back {
  transform: rotateY(180deg);
}

.flip:hover .card {
  transform: rotateY(180deg);
}
