.title {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
  }
  .card-tf {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  
    height: 200px;
    width: 300px;
  
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
    background-color: white;
    border-radius: 20px;
  
    margin-top: 10%;
    margin-bottom: 20%;
    font-size: 25px;
  
    position: relative;
    transition: 0.4s;
    transform-style: preserve-3d;
  }
  
  .bottom-next {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  
    height: 20px;
    width: 300px;
  
    margin: 0 auto;
    padding: 20px;
  
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
    margin-top: 10%;
    margin-bottom: 20%;
    font-size: 15px;
  }
  .submit-button-content{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  
  }
  .box{
    margin-right: 30px;
  }


.modal-content {
  background: white;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  max-width: 80%; /* 최대 폭 설정 */
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* 닫기 버튼 스타일 추가 */
.modal-content button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  color: black;
}

/* 모바일 화면에서 모달 크기를 더 조절하기 위한 미디어 쿼리 추가 */
@media (max-width: 768px) {
  .modal-content {
    max-width: 90%; /* 모바일 화면에서 최대 폭 더 축소 */
  }
}