.floating-button {
  position: fixed; /* 고정 위치 */
  bottom: 12%; /* 하단에서 20px 위 */
  right: 10%; /* 오른쪽에서 20px 내 */
  width: 60px; /* 너비 */
  height: 60px; /* 높이 */
  border-radius: 50%; /* 원형 버튼 */
  background-color: #007bff; /* 배경색 */
  color: white; /* 글자색 */
  border: none; /* 테두리 없음 */
  cursor: pointer; /* 마우스 오버시 포인터 변경 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* 그림자 효과 */
  z-index: 10000; /* 높은 z-index 값 */
}

.floating-button span {
  font-size: 40px;
}
